.resource_Card {
  width: 20rem;
  height: 20rem;
  background-color: #03b38e;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.recourceCard_head {
  position: relative;
  top: 30%;
}

@media (max-width: 768px) {
  .resource_Card {
    width: 17rem;
    min-height: 20vh;
    padding: 5px;

  }
}
