.resourcePage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resourcePage_main {
    position: relative;
    top: 10vh;
padding-left: 17px;

  
}
.resourcePage_Card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.resourcepage-h4{
  text-align: center;
  position: relative;
  top: 40px;
  bottom: 40px;

}