.resourcePage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resourcePage_main {
  position: relative;
  top: 10vh;
 
}
.resourcePage_Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.resourcePage_news {
  position: relative;
  

  text-align: center;
  display: flex;
  flex-direction: column;
}
.resourcePage_h2 {
  color: black;
}
