.medicine-card {
  display: inline-grid;
  grid-gap: 50px;

  text-align: center;
  height: 300px;
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #03b38e;
  border-radius: 80px;
}
.medicine-card > h1 {
  color: azure;
  margin-top: auto;
  margin-bottom: auto;
}
